/* Dashboard general */
.CST_fullHeight {
  height: 100vh;
}

/* Navbar custom color */
.navbar.is-fixed-top {
  background-color: #99d;
}

/*Navbar custom button-like behaviour*/
.CST_clickable {
  cursor: pointer;
}

.CST_clickable:hover {
  background-color: #2e63dd;
  color: #fff;
}

.is-active .CST_clickable:hover {
  color: #118fe4;
  background-color: #fff;
}

/* Spaced Notification */
.CST_frame {
  border: 2px solid #222;
  margin: 2rem 1rem;
  padding: 2rem;
}

.is-danger.CST_frame,
.is-success.CST_frame {
  border: none;
}

/* card */
.CST_grid-container {
  margin-top: 40px;
}

.CST_card img {
  width: 100%;
  border-radius: 10px;
}

.CST_card {
  position: relative;
  cursor: pointer;
}

.CST_tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1rem;

  background-color: #111;
  opacity: 0.8;

  visibility: hidden;
}

.CST_tooltip .title,
.CST_tooltip .subtitle {
  color: #fff;
}

.CST_card:hover .CST_tooltip {
  visibility: visible;
}
